@font-face {
    font-family: 'Amiri Bold';
    src: url('../../amiri/Amiri-Bold.eot');
    src: local('Amiri Bold'), local('Amiri-Bold'),
        url('../../amiri/Amiri-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../amiri/Amiri-Bold.woff2') format('woff2'),
        url('../../amiri/Amiri-Bold.woff') format('woff'),
        url('../../amiri/Amiri-Bold.ttf') format('truetype'),
        url('../../amiri/Amiri-Bold.svg#Amiri-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}