/* Example CSS snippet for using Amiri as web font */

@font-face {
    font-family: AmiriWeb;
    font-style: normal;
    font-weight: 400;
    src: url('Amiri-Regular.woff2') format('woff2'),
         url('Amiri-Regular.woff') format('woff');
}

@font-face {
    font-family: AmiriWeb;
    font-style: normal;
    font-weight: 700;
    src: url('Amiri-Bold.woff2') format('woff2'),
         url('Amiri-Bold.woff') format('woff');
}

@font-face {
    font-family: AmiriWeb;
    font-style: oblique;
    font-weight: 400;
    src: url('Amiri-Slanted.woff2') format('woff2'),
         url('Amiri-Slanted.woff') format('woff');
}

@font-face {
    font-family: AmiriWeb;
    font-style: oblique;
    font-weight: 700;
    src: url('Amiri-BoldSlanted.woff2') format('woff2'),
         url('Amiri-BoldSlanted.woff') format('woff');
}

@font-face {
    font-family: AmiriQuranWeb;
    font-style: normal;
    font-weight: 400;
    src: url('AmiriQuran.woff2') format('woff2'),
         url('AmiriQuran.woff') format('woff');
}

@font-face {
    font-family: AmiriQuranColoredWeb;
    font-style: normal;
    font-weight: 400;
    src: url('AmiriQuranColored.woff2') format('woff2'),
         url('AmiriQuranColored.woff') format('woff');
}
