#app {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;

    .tasbih {
        font-family: $font-amiri-bold;
        @include interpolate(font-size, 320px, 1920px, 80px, 150px);
        line-height: 2;
        text-align: center;
    }
}