#app {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;

    .tasbih {
        font-family: 'Al Qalam Quran';
        @include interpolate(font-size, 320px, 1920px, 100px, 180px);
        line-height: 2;
        text-align: center;
    }
}