#app {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .zikr-container {
        font-family: $font-amiri-bold;
        @include font-size(150px);
    }
}