@mixin font-size($size, $important: false) {
    @if $important {
        font-size: $size !important;
        font-size: calculateRem($size) !important;
    } @else {
        font-size: $size;
        font-size: calculateRem($size);
    }
}

@mixin prefix($name, $value) {
    -webkit-#{$name}: $value;
    -moz-#{$name}: $value;
    -ms-#{$name}: $value;
    #{$name}: $value;
}

@mixin placeholder {
    ::-webkit-input-placeholder {
        @content
    }

    :-moz-placeholder {
        @content
    }

    ::-moz-placeholder {
        @content
    }

    :-ms-input-placeholder {
        @content
    }
}