// @font-face {
//     font-family: 'Amiri Bold';
//     src: url('../../fonts/amiri/Amiri-Bold.eot');
//     src: local('Amiri Bold'), local('Amiri-Bold'),
//         url('../../fonts/amiri/Amiri-Bold.eot?#iefix') format('embedded-opentype'),
//         url('../../fonts/amiri/Amiri-Bold.woff2') format('woff2'),
//         url('../../fonts/amiri/Amiri-Bold.woff') format('woff'),
//         url('../../fonts/amiri/Amiri-Bold.ttf') format('truetype'),
//         url('../../fonts/amiri/Amiri-Bold.svg#Amiri-Bold') format('svg');
//     font-weight: bold;
//     font-style: normal;
// }

@font-face {
    font-family: 'Mehr Nastaliq';
    src: url('../../fonts/mehr-nastaliq/mehr-nastaliq.woff2') format('woff2'),
        url('../../fonts/mehr-nastaliq/mehr-nastaliq.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}