@font-face {
    font-family: 'Al Qalam Quran';
    src: local('Al Qalam Quran'), local('AlQalamQuran'),
        url('../fonts/AlQalamQuran/AlQalamQuran.woff2') format('woff2'),
        url('../fonts/AlQalamQuran/AlQalamQuran.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}