.app {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 5%;
  text-align: center;
  cursor: default;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

  @media (prefers-color-scheme: dark) {
    background: #202124;
    color: #fff;
  }

  &__container {
    height: auto;
    width: 100%;
  }

  &__content {
    --font-size-min: 5rem;
    --font-size-max: 11.25rem;
    line-height: 1.5;
    text-align: center;
  }

  &__translation {
    &--ur,
    &--en {
      margin-top: 15px;
    }

    &--ur {
      --font-size-min: 1.5625rem;
      --font-size-max: 2.1875rem;
      letter-spacing: 0.4px;

      @media screen and (max-width: 419px) {
        --font-size-min: 1.25rem;
        --font-size-max: 1.5625rem;
      }
    }

    &--en {
      --font-size-min: 1rem;
      --font-size-max: 1.25rem;
      letter-spacing: 1px;

      @media screen and (max-width: 419px) {
        --font-size-max: 1rem;
      }
    }
  }

  .fluid-font {
    font-size: clamp(100%, var(--font-size-min) + 5vw, var(--font-size-max));
  }

  .rtl {
    direction: rtl;
    font-family: 'AlMajeedQuranic';
  }
}
