.app {
  width: 100%;
  height: 100vh;
  background: #f2f4f7;
  background-image: url("data:image/svg+xml,%3Csvg width='38' height='38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='4' y='4' width='6' height='6' rx='2' fill='%23E9EBF0'/%3E%3C/svg%3E");
  display: flex;
  align-items: center;
  padding: 5%;
  text-align: center;
  cursor: default;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

  @media (prefers-color-scheme: dark) {
    background: #202124;
    background-image: url("data:image/svg+xml,%3Csvg width='38' height='38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='4' y='4' width='6' height='6' rx='2' fill='%232a2e34'/%3E%3C/svg%3E");
    color: #fff;
  }

  &__container {
    height: auto;
    width: 100%;
  }

  &__content {
    --font-size-min: 5rem;
    --font-size-max: 11.25rem;
    line-height: 1.5;
    text-align: center;
  }

  &__info {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0.75rem;

    & a {
      font-size: smaller;
      text-decoration: none;
      color: #fff;
    }
  }
  &__show-info {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    margin: 1rem;
  }

  &__show-options {
    cursor: pointer;
    margin: 1rem;
    position: absolute;
    top: 0;
    transition: transform 0.3s;
    right: 0;

    &:hover {
      transform: rotate(45deg);
    }
  }

  &__overlay {
    background-color: rgba(0, 0, 0, 0.4);
    bottom: 0;
    display: none;
    left: 0;
    place-content: center;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;

    &__container {
      background-color: #fff;
      border-radius: 6px;
      color: #202124;
      margin: 20px;
      padding: 1rem;
    }

    &__close {
      cursor: pointer;
      display: flex;
      justify-content: end;
    }

    &__option {
      align-items: center;
      display: flex;
      font-weight: lighter;
      gap: 2rem;
      justify-content: space-between;
      margin-top: 2rem;
      text-align: left;
      width: 100%;

      @media screen and (max-width:419px) {
        font-size: small;
        gap: 0.5rem;
      }
    }

    &__option + &__option {
      margin-top: 0.5rem;
    }
  }

  &__translation {
    &--ur,
    &--en {
      margin-top: 15px;
    }

    &--ur {
      --font-size-min: 1.5625rem;
      --font-size-max: 2.1875rem;
      letter-spacing: 1.5px;

      @media screen and (max-width: 419px) {
        --font-size-min: 1.25rem;
        --font-size-max: 1.5625rem;
      }
    }

    &--en {
      --font-size-min: 1rem;
      --font-size-max: 1.25rem;
      letter-spacing: 1px;

      @media screen and (max-width: 419px) {
        --font-size-max: 1rem;
      }
    }
  }

  .fluid-font {
    font-size: clamp(100%, var(--font-size-min) + 5vw, var(--font-size-max));
  }

  .rtl {
    direction: rtl;

    &--arabic {
      font-family: 'Al Majeed Quranic';
    }

    &--urdu {
      font-family: 'Jameel Noori Nastaleeq';
    }
  }
}

.switch {
  display: inline-block;
  height: 20px;
  position: relative;
  width: 40px;
}

.switch input {
  height: 0;
  opacity: 0;
  width: 0;
}

.slider {
  background-color: #ccc;
  border-radius: 20px;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider::before {
  background-color: #fff;
  border-radius: 50%;
  bottom: 1px;
  content: '';
  height: 18px;
  left: 2px;
  position: absolute;
  transition: 0.4s;
  width: 18px;
}

input:checked + .slider {
  background-color: #202124;
}

input:focus + .slider {
  box-shadow: 0 0 1px #202124;
}

input:checked + .slider::before {
  transform: translateX(18px);
}

